/* 全局重置样式 */
* {
    padding: 0em;
    margin: 0em;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0E1720;
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
    color: #e1ecf1;
    min-width: 850px;
}

/* 主题变量定义 */
.master_74483 {
    --background_image: url('https://ptpimg.me/a45526.jpg');
    --content: rgba(17, 29, 50, .46);
    --elements: #27222200;
    --bars: rgba(17, 29, 50, .7);
    --header_color: #061523a8;
    --shadow: -3px 3px 5px #3785c0;
    --roundedness: 10px;
    --text_color: #bde5fe;
    --nav_color: #6a81b2;
    --nav_hover: #6a93c7;
}

/* 通用链接样式 */
a {
    color: #7FB7D3;
    text-decoration: none;
    border-bottom: dotted 1px #888;
}

a:hover {
    color: #a1d6f1;
    border-bottom: dotted 1px #CCC;
    position: relative;
    top: 1px;
    left: 1px;
}

a:active {
    color: #FFFFFF;
    border-bottom: solid 1px #CCC;
}

/* 通用表格样式 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #576603;
}

td {
    border: 1px solid #576603;
    padding: 5px;
    text-align: left;
}

tr {
    background-color: #f2ffaa;
    color: #333;
}

tr:hover {
    color: black;
    background-color: #FAFFDB;
}

/* 通用标题样式 */
h2 {
    height: 48px;
    line-height: 48px;
    color: #BCDFEF;
    padding-left: 15px;
    border-bottom: solid 2px #314f6d;
}

h2 a {
    border-bottom: hidden;
}

h2 a:hover {
    position: relative;
    top: 0;
    left: 0;
}

/* 通用容器样式 */
#wrapper {
    position: relative;
    padding-bottom: 300px;
    height: auto !important;
    min-height: 100%;
    height: 100%;
}

#content {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.thin {
    width: 1000px;
    margin: 0 auto;
}

/* 通用错误和成功消息样式 */
.error_message {
    border: 1px solid #C92020;
    background-color: #EDC2DB;
    color: #C92020;
    padding: 3px 0;
    text-align: center;
    font-weight: 700;
}

.save_message {
    background-color: #BDF09C;
    border: 1px solid #228A0F;
    color: #104007;
    font-weight: 700;
    padding: 3px 0;
    text-align: center;
}

/* 通用隐藏类 */
.hidden, .hide {
    display: none;
}

.nobr {
    white-space: nowrap;
}

/* 通用标签样式 */
.label {
    width: 15%;
    background-color: #D7E971;
    padding-right: 5px;
    color: black;
}

/* 通用按钮和输入框样式 */
input, button {
    background: #49777c;
    border-radius: 50px 50px 50px 50px;
    color: #CEF6FF;
    border-style: hidden;
    border-width: 0;
    padding-left: 7px;
    padding-right: 7px;
}

/* 主题特定样式 */
.master_74483 .edition_info {
    background-color: #395e7f59 !important;
    }
    
    
    .master_74483 textarea#quickpost {
    background: #1d3f569e;
    }
    
    
    
    @font-face {
    font-family: "signalis";
    src: url("");
    }
    
    
    
    
    .master_74483 #menu ul a {
    color: var(--nav_color) !important;
    padding: 5px 11px;
    margin: 0 86px;
    /*HERE*/
    margin-left: -70px;
    font-size: 28px;
    /*HERE*/
    }
    
    .master_74483 #userinfo #userinfo_username .donateico {
    
    margin-top: 28px;
    margin-left: 110px;
    display: inline-block;
    font-size: 13px;
    /*HERE*/
    }
    
    
    
    
    
    
    
    
    .master_74483 ul#userinfo_username a {
    color: var(--text_color);
    }
    
    
    
    body.master_74483 {
    background-image: var(--background_image);
    margin-top: -50px;
    }
    
    .master_74483 #logo {
    background-image: url("https://ptpimg.me/im11ta.png");
    background-color: rgba(17, 29, 50, .46);
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 660px;
    background-position-y: 50px;
    margin-top: 0px;
    border-bottom: none;
    }
    
    .master_74483 input#submit_button,
    .master_74483 input {
    background: #49777c;
    border-radius: 50px 50px 50px 50px;
    }
    
    .master_74483 #userinfo {
    background: var(--bars);
    border-bottom: rgba(0, 0, 0, 0);
    }
    
    .master_74483 #userinfo_minor li a {
    color: var(--text_color);
    }
    
    .master_74483 #searchbars ul li input {
    background-color: #49777c !important;
    font-size: 1em;
    }
    
    .master_74483 #menu {
    font-family: signalis;
    font-size: 2.1em;
    font-weight: normal;
    background: var(--bars);
    box-shadow: 0 5px 14px -2px #0000;
    border-radius: 0 0 0px 0px;
    }
    
    .master_74483 #menu ul a:hover {
    color: var(--nav_hover) !important;
    }
    
    .master_74483 #menu ul {
    max-width: 1100px;
    margin-top: -1px;
    }
    
    .master_74483 #userinfo #userinfo_username .donateico a {
    
    font-family: signalis;
    color: var(--nav_color);
    font-size: 2.1em;
    position: relative;
    top: 4px;
    margin-left: -35px;
    }
    
    .master_74483 #userinfo #userinfo_username .donateico a:hover {
    color: var(--nav_hover);
    }
    
    .master_74483 #content {
    background: var(--content);
    box-shadow: none;
    }
    
    .master_74483 #content {
    margin-top: 250px;
    }
    
    .master_74483 #sidebar_group_info,
    .master_74483 #box_user_rating,
    .master_74483 #group_nofo_bigdiv,
    .master_74483 #collages,
    .master_74483 #grouplinks,
    .master_74483 #table,
    .master_74483 #torrent_coments,
    .master_74483 .box_user_rating,
    .master_74483 .box_game_ratings,
    .master_74483 .box_weblinks,
    .master_74483 .box_freeleech,
    .master_74483 .box_tags,
    .master_74483 .box_torrent_checking,
    .master_74483 .userreviews_div,
    .master_74483 .screenshots_div,
    .master_74483 .trailer_div,
    .master_74483 .vote_matches_div,
    .master_74483 .similar_div,
    .master_74483 .edition_info,
    .master_74483 .torrent_table {
    background: var(--elements);
    border-radius: var(--roundedness);
    }
    
    .master_74483 h2#display_name {
    background: var(--header_color);
    box-shadow: var(--shadow);
    border-radius: var(--roundedness);
    border-bottom: rgba(0, 0, 0, 0);
    padding: 4px;
    }
    
    .master_74483 span#groupplatform {
    margin-left: 10px;
    }
    
    .master_74483 div#group_cover.box.box_albumart {
    border-radius: var(--roundedness);
    }
    
    .master_74483 .colhead_dark,
    .master_74483 .colhead,
    .master_74483 .head {
    background: var(--header_color);
    box-shadow: var(--shadow);
    border-radius: var(--roundedness);
    }
    
    .master_74483 * {
    color: var(--text_color);
    }
    
    .master_74483 blockquote,
    .master_74483 pre {
    background-color: var(--header_color);
    }
    
    .master_74483 div#header {
    position: relative;
    height: 50px;
    }
    
    .master_74483 div#searchbars {
    position: relative;
    top: -225px;
    }
    
    .master_74483 .avatar * {
    background: rgba(0, 0, 0, 0) !important;
    }
    
    .master_74483 div#footer * {
    background: rgba(0, 0, 0, 0) !important;
    }
    
    .master_74483 .colhead_dark {
    background: var(--header_color);
    position: relative;
    box-shadow: var(--shadow);
    border-radius: var(--roundedness);
    }
    
    
    
    .master_74483 div#torrent_comments * {
    
    background-image: none !important;
    }
    
    .master_74483 colgroup {
    background: var(--elements);
    }
