.master_74483 {




--background_image: url('https://ptpimg.me/a45526.jpg');


--content: rgba(17, 29, 50, .46);


--elements: #27222200;


--bars: rgba(17, 29, 50, .7);


--header_color: #061523a8;


--shadow: -3px 3px 5px #3785c0;


--roundedness: 10px;


--text_color: #bde5fe;


--nav_color: #6a81b2;


--nav_hover: #6a93c7
}



.master_74483 .edition_info {
background-color: #395e7f59 !important;
}


.master_74483 textarea#quickpost {
background: #1d3f569e;
}



@font-face {
font-family: "signalis";
src: url("");
}




.master_74483 #menu ul a {
color: var(--nav_color) !important;
padding: 5px 11px;
margin: 0 86px;
/*HERE*/
margin-left: -70px;
font-size: 28px;
/*HERE*/
}

.master_74483 #userinfo #userinfo_username .donateico {

margin-top: 28px;
margin-left: 110px;
display: inline-block;
font-size: 13px;
/*HERE*/
}








.master_74483 ul#userinfo_username a {
color: var(--text_color);
}



body.master_74483 {
background-image: var(--background_image);
margin-top: -50px;
}

.master_74483 #logo {
background-image: url("https://ptpimg.me/im11ta.png");
background-color: rgba(17, 29, 50, .46);
background-repeat: no-repeat;
background-position: center center;
background-position-x: 660px;
background-position-y: 50px;
margin-top: 0px;
border-bottom: none;
}

.master_74483 input#submit_button,
.master_74483 input {
background: #49777c;
border-radius: 50px 50px 50px 50px;
}

.master_74483 #userinfo {
background: var(--bars);
border-bottom: rgba(0, 0, 0, 0);
}

.master_74483 #userinfo_minor li a {
color: var(--text_color);
}

.master_74483 #searchbars ul li input {
background-color: #49777c !important;
font-size: 1em;
}

.master_74483 #menu {
font-family: signalis;
font-size: 2.1em;
font-weight: normal;
background: var(--bars);
box-shadow: 0 5px 14px -2px #0000;
border-radius: 0 0 0px 0px;
}

.master_74483 #menu ul a:hover {
color: var(--nav_hover) !important;
}

.master_74483 #menu ul {
max-width: 1100px;
margin-top: -1px;
}

.master_74483 #userinfo #userinfo_username .donateico a {

font-family: signalis;
color: var(--nav_color);
font-size: 2.1em;
position: relative;
top: 4px;
margin-left: -35px;
}

.master_74483 #userinfo #userinfo_username .donateico a:hover {
color: var(--nav_hover);
}

.master_74483 #content {
background: var(--content);
box-shadow: none;
}

.master_74483 #content {
margin-top: 250px;
}

.master_74483 #sidebar_group_info,
.master_74483 #box_user_rating,
.master_74483 #group_nofo_bigdiv,
.master_74483 #collages,
.master_74483 #grouplinks,
.master_74483 #table,
.master_74483 #torrent_coments,
.master_74483 .box_user_rating,
.master_74483 .box_game_ratings,
.master_74483 .box_weblinks,
.master_74483 .box_freeleech,
.master_74483 .box_tags,
.master_74483 .box_torrent_checking,
.master_74483 .userreviews_div,
.master_74483 .screenshots_div,
.master_74483 .trailer_div,
.master_74483 .vote_matches_div,
.master_74483 .similar_div,
.master_74483 .edition_info,
.master_74483 .torrent_table {
background: var(--elements);
border-radius: var(--roundedness);
}

.master_74483 h2#display_name {
background: var(--header_color);
box-shadow: var(--shadow);
border-radius: var(--roundedness);
border-bottom: rgba(0, 0, 0, 0);
padding: 4px;
}

.master_74483 span#groupplatform {
margin-left: 10px;
}

.master_74483 div#group_cover.box.box_albumart {
border-radius: var(--roundedness);
}

.master_74483 .colhead_dark,
.master_74483 .colhead,
.master_74483 .head {
background: var(--header_color);
box-shadow: var(--shadow);
border-radius: var(--roundedness);
}

.master_74483 * {
color: var(--text_color);
}

.master_74483 blockquote,
.master_74483 pre {
background-color: var(--header_color);
}

.master_74483 div#header {
position: relative;
height: 50px;
}

.master_74483 div#searchbars {
position: relative;
top: -225px;
}

.master_74483 .avatar * {
background: rgba(0, 0, 0, 0) !important;
}

.master_74483 div#footer * {
background: rgba(0, 0, 0, 0) !important;
}

.master_74483 .colhead_dark {
background: var(--header_color);
position: relative;
box-shadow: var(--shadow);
border-radius: var(--roundedness);
}



.master_74483 div#torrent_comments * {

background-image: none !important;
}

.master_74483 colgroup {
background: var(--elements);
}
